<a href="https://colab.research.google.com/github/mertkaya13/Forestfires-Prediction-with-Machine-Learning/blob/master/Forestfires_prediction_with_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This project aims to detect forestfires with the help of Machine Learning by given estimated values of temperature,amount of rain,speed of the wind etc.
Predicters will return us a burned hectars of forest value.

Which would help us predict a forestfire before it began.
We have created three different versions by the following steps you can see below.

First predicter uses values that are more common for everday person such as temperature,amount of rain,speed of wind etc.
These values can be gathered from various websites or other places(eg. Newspapers) because they are predicted daily,weekly,monthly by meteorology companies.

Second predicter is a more complicated version which uses FWI values.
More info about FWI can be found in ' https://www.nwcg.gov/publications/pms437/cffdrs/fire-weather-index-system '. We will not use the X and Y values for a general prediction of a forest fire.

Third predicter uses all of the values of the dataset. This predicter can be used to achieve the amount of fire as hectars on a part of the forest.

First of all we need to show the source of our dataset.


Citation Request:
  This dataset is public available for research. The details are described in [Cortez and Morais, 2007]. 
  Please include this citation if you plan to use this database:

  P. Cortez and A. Morais. A Data Mining Approach to Predict Forest Fires using Meteorological Data. 
  In J. Neves, M. F. Santos and J. Machado Eds., New Trends in Artificial Intelligence, 
  Proceedings of the 13th EPIA 2007 - Portuguese Conference on Artificial Intelligence, December, 
  Guimaraes, Portugal, pp. 512-523, 2007. APPIA, ISBN-13 978-989-95618-0-9. 
  Available at: http://www.dsi.uminho.pt/~pcortez/fires.pdf


  Our dataset is gathered from ... ... ..

First we need to import pandas to use our dataset.

In [0]:
import pandas as pd

Then we use pandas to get the .csv file (Which is the data of dataset) from the link.

In [0]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv'
df = pd.read_csv(url)

This is how our dataset looks like.

In [9]:
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

We remove the X and Y columns of our dataset. Those values are used to declare which part of the naturalpark the forestfire occured as coordinates.(X,Y)
We will not use them to achieve a model to be used on general scale.

In [10]:
df.drop(['X', 'Y'], axis = 1)

    month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0     mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1     oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2     oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3     mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4     mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..    ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 11 columns]